<md-input placeholder="concept/language/technology"
          [ngFormControl]="tagSearchControl"
          [(ngModel)]="tagName"
          autofocus>
</md-input>
<button md-raised-button color="primary"
        *ngFor="let tag of tags | async"
        (click)="addTag(tag)"
        style="margin:5px;">
    {{tag.name}}
</button>
<md-card-title style="margin-top:10px;">Selected Tags</md-card-title>
<h4 *ngIf="!tagList.tags$.value || tagList.tags$.value.length === 0">None</h4>
<button md-raised-button color="primary"
        *ngFor="let selected of tagList.tags$ | async"
        (click)="tagList.removeTag(selected.id)"
        style="margin:5px;">
    {{selected.name}}
</button>

