<md-card *ngIf="showList |async ">
  <md-card-title>List of Code</md-card-title>
  <md-list>
    <md-list-item *ngFor="let code of codeList | async">
      <h3 md-line><a [href]="code.url">{{code.url}}</a></h3>
      <div md-line>
        <button md-raised-button color="primary" *ngFor="let tag of code.tags">{{tag.name}}</button>
        <md-text *ngIf="!code.tags">No tags</md-text>
      </div>    
    </md-list-item>
  </md-list>
</md-card>
<md-card *ngIf="showEmptyMessage|async">
  <md-card-title>No Code Samples found</md-card-title>
</md-card>